/* PortfolioMinimal.css */

.c-portfolio-minimal__row, 
.c-portfolio-minimal__row span, 
.c-portfolio-minimal__row h3, 
.c-portfolio-minimal__row div:not(.c-portfolio-expanded) {
  transition: all var(--duration-minimal-slow) var(--ease-minimal);
}

@media (min-width: 768px) {
  .c-portfolio-minimal__row:hover {
    padding-left: 40px;
    background: hsl(var(--bc) / 0.02);
  }
}

.c-portfolio-expanded {
   transition: max-height var(--duration-minimal-fast) ease-in-out, opacity var(--duration-minimal-fast) ease-in-out, margin-top var(--duration-minimal-fast) ease-in-out;
}
