/* -------------------------------------------------------------------------- */
/*                                LAB MODAL                                   */
/* -------------------------------------------------------------------------- */

#lab-modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

#lab-modal.is-open .lab-content {
  transform: scale(1);
  filter: blur(0);
}

/* -------------------------------------------------------------------------- */
/*                                SCROLLBAR                                   */
/* -------------------------------------------------------------------------- */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: hsl(var(--bc) / 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--bc) / 0.2);
}
